#body
{
    background-image: url("/static/myapp/img/bck.jpg") ;
    background-size: cover;
    margin: 30px;
}
#header {
    background-color:none;
    color:DarkRed;
    text-align: center;
    font-family: ariel;
    float: center;
    
}
#nav {
    line-height:30px;
    background-color:#dddddd;
    height:450px;
    width:15%;
    margin-right: 15px;
    padding:10px;	
    float: left;
    overflow-y: scroll;       
}
#section {
    float: right;
    background-color: darkkhaki;
    min-height: 450px;
    padding:10px;	
    width: 75%;
    border-radius: 5px;	 
}
#footer {
    background-color:PaleYellow;
    color:white;
    clear:both;
    text-align:center;
    min-height: 150px;
    padding:10px;	
}
