{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'myapp/css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'myapp/css/style.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'myapp/css/display.css' %}"/>
</head>
<body id="body">
<div id="intro"><marquee> Welcome to my WEB PAGE...!! </marquee></div>
<div id="header">
<!--<h1><marquee>Welcome to my webpage</marquee></h1>-->
</div>


<div id="nav" >
{% block content_nav %}
	<ul >
	 	{% for object in a %}
	 		<a href="/myapp/display/{{ object.book_title }}/" ><img  src="/static/myapp/img/{{ object.book_image }}" alt="no image" /></a>
	 		<li ><a href="/myapp/display/{{ object.book_title }}/" >{{ object.book_title }}</a></li>
	 	{% endfor %}
</ul>
{% endblock %}
</div>

<div id="section">

{% block content_section%}
{% endblock %}
</div>

<div id="footer" >
{% block content_footer %}
	<ul >
	 	{% for object in b %}
	 		<li style="display:inline;"><a href="/#"><img  style="outline:none;"src="/static/myapp/img/{{ object.magazine_image }}" alt="Cant load the image" /></a></li>
	 	{% endfor %}
	</ul>
{% endblock %}
</div>

</body>
</html>
